a:visited{color:#2A5D84;text-decoration:underline;}
a:link{color:#2A5D84;text-decoration:underline;}
a:active{color:#2A5D84;text-decoration:underline;}
a:hover{color:#2A5D84;text-decoration:underline;}

a.tag{
/*    float:left;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin:4px;
    padding:2px 3px 2px 3px;
    display:inline-block;
    color:#2A5D84;
}
a.tag:visited{color:#2A5D84;text-decoration:none;}
a.tag:link{color:#2A5D84;text-decoration:none;}
a.tag:active{color:#2A5D84;text-decoration:none;}

a.tag:hover{
    color:#2A5D84;text-decoration:none;
    background-color: #eee;
}

div.tags{
    text-align: center;
}
a.tag_current{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin:4px;
    padding:2px 3px 2px 3px;
    color:#FFF;
    background-color:#2A5D84;
    display: inline-block;
}
a.tag_current:visited{color:#FFF;text-decoration:none;}
a.tag_current:link{color:#FFF;text-decoration:none;}
a.tag_current:active{color:#FFF;text-decoration:none;}

body {
  line-height: 0.7 em;
  font-size: 110%;
  /*text-align: justify;*/
  font-family: sans-serif;
  width: auto;
  margin: 3em 5% 2em 5%;
  line-height: 1.5em;
}
.clearBoth { clear:both; }

a.product_icon{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin:3px;
    padding:3px;
    color:#2A5D84;
    text-align: center;
    display: inline-block;
    width: 201px;
    height: 130px;
}

a.product_icon:visited{color:#2A5D84;text-decoration:none;}
a.product_icon:link{color:#2A5D84;text-decoration:none;}
a.product_icon:active{color:#2A5D84;text-decoration:none;}

a.product_icon:hover{
    border-color:#0040FF; color: #0040FF; text-decoration:none;
}

div.esl_header{
    text-align: center;
}

h2.esl_header{
    margin-bottom: -3px;
}

hr {
    border:0;
    border-top:1px solid #eee;
}

div.footer{
    text-align: center;
}

div.product_data{
    margin: 0px 10% 0px 20%;
    text-align: justify;
}

div.product_misc_data{
    display: block;
    background-color: #eee;
}